<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="page d'accueil de biosphere exeperience">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="assets/icons/favicon-biosphere-experience.svg">
</head>
<body>
    {% include 'header.html' %}

    <main>
        {{ content }}
    </main>
    {% include 'footer.html' %}
</body>
</html>