<footer class="site-footer">
    {% include 'newsletter.html' %}
    {% include 'partenaires.html' %}
   


<div class="footer__wrapper">


    <div class="footer__contact">
        <p>BIOSPHERE EXPERIENCE<br>Association à but non lucratif<br> © 2025 - tous droits réservés</p>
    </div>

    <div class="footer__social">

    <ul>
        <li class="footer__social-link"><a href="mailto:caroline@biosphere-experience.org">Contact</a></li>
        <li class="footer__social-link"><a href="https://www.instagram.com/biosphere.experience" target="_blank">Instagram</a></li>
        <li class="footer__social-link"><a href="https://www.youtube.com/channel/UCRX_ZRIQ8G-xLUtFPtqYudw" target="_blank">Youtube</a></li>
        <li class="footer__social-link"><a href="https://www.linkedin.com/company/biosphere-experience/" target="_blank">Linkedin</a></li>
    </ul>




    </div>
</div>

       
</footer>