<section id="newsletter">
<article class="wide">
<h2>Devenez membre de la communauté Biosphère Urbaine.</h2>
<p>Inscrivez-vous à notre newsletter. <br>Vous pourrez ainsi suivre les avancées du projet mais aussi y prendre part.</p>
<button class="button-secondary">S'inscrire</button>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, veritatis exercitationem? Magnam rem deserunt, voluptates possimus quia, debitis officia, aut vel temporibus hic nobis atque. Nemo iste quos eum molestiae.
Laboriosam doloribus pariatur commodi voluptatem temporibus molestiae harum quo aliquid et, ullam, officia recusandae. Nihil sapiente iusto, pariatur facilis, labore ipsa officiis reprehenderit ut vel itaque expedita quibusdam aspernatur iure.
</article>
</section>