<section class="footer__partenaires">


<h2>Partenaires</h2>
<div class="partenaires__wrapper-l"> 
    <div class="div1"> <a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Boulogne-billancourt-logo-Biosphere-experience.avif" alt="logo Boulogne Billancourt"></a></div>
<div class="div2"> <a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Maison-de-la-planete-logo-Biosphere-experience.avif" alt="logo Boulogne Billancourt"></a></div>
</div>
<div class="partenaires__wrapper-m"> 

<div class="div3"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Low-tech-lab-logo-Biosphere-experience.avif" alt="logo Low Tech Lab"></a></div>
<div class="div4"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/vertex-logo-Biosphere-experience.avif" alt="Logo Vertex"></a></div>
<div class="div5"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Icam-logo-Biosphere-experience.avif" alt="logo Icam"></a></div>
<div class="div6"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/CNES-logo-Biosphere-experience.avif" alt="logo CNES"></a></div>
<div class="div7"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Arte-logo-Biosphere-experience.avif" alt="logo Arte"></a></div>
<div class="div8"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Explore-logo-Biosphere-experience.avif" alt="logo explore"></a></div>
<div class="div9"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Unseco-logo-Biosphere-experience.avif" alt="logo UNESCO green citizens"></a></div>
<div class="div10">  <a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Maintenant-logo-Biosphere-experience.avif" alt="logo maintenant!"></a></div>

</div>
<h2>Partenaires Sciences participatives</h2>
<div class="partenaires__wrapper-m"> 

    <div class="div3"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/TA-logo-Biosphere-experience.avif" alt="logo Low Tech Lab"></a></div>
    <div class="div4"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Bio-mimetic-logo-Biosphere-experience.avif" alt="Logo Vertex"></a></div>
    <div class="div5"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Breizh-bell-logo-Biosphere-experience.avif"></a></div>
    <div class="div6"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/France-insectes-logo-Biosphere-experience.avif" alt="logo CNES"></a></div>
    <div class="div7"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Les-sourciers-logo-Biosphere-experience.avif" alt="logo Arte"></a></div>
    <div class="div8"><a href="" class="partenaires__logo"><img src="/assets/img/partenaires/Mycosphere-logo-Biosphere-experience.avif" alt="logo explore"></a></div>

    
    </div>



</section>
