/*CSS RESET*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    font: inherit;
}


body {

    min-height: 100vh;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;

}

a {
    color: var(--clr-txt);

}

a:hover {
    opacity: var(--opacity-link-hover);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {

    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}


/* h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
} */

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;


}

img,
picture,
video {
    border-radius: var(--radius-m);

}






input,
button,
textarea,
select {
    font: inherit;
}

ul {
    padding: 0;
}

/* END OF CSS RESET*/

/* VARIABLES */

:root {

    --ff-sans: sans-serif;

    --clr-bg: #000000;
    --clr-txt: #ffffff;
    --clr-gray: #272727;
    --clr-gray-l: #3F3F3F;
    --clr-accent: #3B6480;
    --clr-accent-l: #CDF2FE;
    --clr-accent-d: #C7EBC4;
    --opacity-link-hover: 0.6;


    --font-size-h1: clamp(1.5rem, 2.3vw, 2rem);
    --font-size-h2: 1.8rem;
    --font-size-h3: 1.4rem;


    --font-size-p: clamp(1rem, 2.3vw, .8rem);
    --font-size-p-s: .8rem;
    --font-size-p-xs: .6rem;
    --text-box-trim: 0.45rem;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;
    --fw-italic: italic;


    --paragraph-margin: calc(1.8rem - var(--text-box-trim));


    --article-width: 28.75rem;
    --section-width: 75rem;
    --article-wide-width: 48.3rem;


    --page-margin: 1rem;

    --header-height: 2rem;
    --footer-margin: 6rem;

    --section-spacing: 8rem;
    --article-spacing: 4rem;


    --radius-s: .25rem;
    --radius-m: .5rem;
    --radius-l: 99rem;


}

/* END OF VARIABLES */

/* GLOBALES */

html {
    font-family: var(--ff-sans);
}

body {
    color: var(--clr-txt);
    background-color: var(--clr-bg);
}

main {
    padding-top: 8rem;
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
    margin: 0 auto;

}

footer {
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
}

section {
    margin-bottom: var(--section-spacing);
    max-width: var(--section-width);
    margin-left: auto;
    margin-right: auto;
}


section.border {
    padding: 0rem var(--page-margin);
    max-width: var(--article-wide-width);
    padding-top: var(--article-spacing);
    border: 1px solid var(--clr-txt);
    border-radius: var(--radius-m);
}

article {
    margin-bottom: var(--article-spacing);
    max-width: var(--article-width);
    margin-left: auto;
    margin-right: auto;
}



figure {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--article-spacing);

}

img {
    margin: 0 auto;


}

figcaption {
    margin-top: .4rem;
    font-size: var(--font-size-p-s);
    font-style: var(--fw-italic);
    line-height: 1rem;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 1.3;
    margin-bottom: var(--paragraph-margin);
}

h2 {
    font-size: var(--font-size-h2);

    line-height: 1.3;
    margin-bottom: var(--paragraph-margin);
}

h3 {
    font-size: var(--font-size-h3);
    line-height: 1.3;
    margin-bottom: var(--paragraph-margin);
}

p {
    font-size: var(--font-size-p);
    line-height: 1.6;
    margin-bottom: var(--paragraph-margin);
}

button {
    white-space: nowrap;
    width: fit-content;
}

.text-hero {
    font-size: var(--font-size-h1);
    line-height: 1.3;
    margin-bottom: var(--paragraph-margin);
}

.button-primary {
    display: block;
    text-decoration: none;

    font-size: var(--font-size-p);
    font-weight: var(--fw-bold);
    letter-spacing: .1rem;
    padding: .8rem 1.2rem;
    width: fit-content;
    color: var(--clr-txt);
    border-radius: 10rem;
    background-color: var(--clr-bg);
    border: var(--clr-txt) 1px solid;
    cursor: pointer;
}

.button-primary:hover {
    background-color: var(--clr-txt);
    color: var(--clr-bg);
    opacity: 100%;

}

.button-secondary {
    font-size: var(--font-size-p);
    font-weight: var(--text-bold);
    letter-spacing: .1rem;
    padding: .5rem 1rem;
    border: 0;
    color: var(--clr-accent-l);
    border-radius: 10rem;
    background-color: var(--clr-accent);
    cursor: pointer;
}

.button-secondary:hover {
    background-color: var(--clr-accent-l);
}

#newsletter {
    width: 100%;
    padding-inline: var(--page-margin);


}

#newsletter article {

    padding-block: 4rem;
    padding-inline: var(--page-margin);

}


.footer__bottom-bar p {
    padding-inline: var(--page-margin);
    margin-bottom: 0.2rem;
    text-align: center;
    align-items: center;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

/* END OF GLOBALS */

/* Header */

.site-header__container {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    /* Safari support */
    padding: 1rem;
    position: fixed;
    width: 100%;
    display: flex;
    gap: .5rem;
    align-items: center;


}

.site-header__logo-svg {
    transition: transform 0.5s ease-in-out;
}

.site-header__logo-svg:hover {
    opacity: 100%;
    transform: rotate(-180deg);
}


.site-header__logo {
    text-decoration: none;
    font-size: .8rem;
    line-height: .8rem;
    font-weight: var(--fw-bold);
}

.site-header__logo:hover {
    opacity: 100%;
}

.site-header__social-container {
    display: flex;
    gap: .8rem;
    margin-left: auto;
}




/* END HEADER  */

.mission {
    font-size: var(--font-size-h1);
}

#post-grid {
    max-width: var(--article-wide-width);
}

.post__grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 8rem;
}

.post__card {
    flex: 1;
    min-width: 200px;


}

.post__card figure {
    margin-bottom: var(--paragraph-margin);
}


.post__title a {
    text-decoration: none;
}

.mission__wrapper-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.post__link {
    font-weight: var(--fw-bold);
}

.mission__tag {
    font-size: var(--font-size-p-s);
    line-height: 1.2rem;
    white-space: nowrap;
    width: fit-content;
    text-decoration: none;
    border: 1px solid white;
    border-radius: var(--radius-l);
    padding: .3rem .8rem;
}


.mission__tag:hover {

    opacity: 100;
    color: var(--clr-bg);
    background-color: var(--clr-txt)
}

.footer__wrapper {
    display: flex;
    padding: 3rem 1rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1200px;
    gap: .5rem;
    align-items: center;
    border-top: var(--clr-txt) solid 1px;
}

.footer__contact p {
    font-size: var(--font-size-p-s);
}


.footer__social li {
margin-bottom: .4rem;
    list-style: none;
}

.footer__social a {
    font-size: var(--font-size-p-s);
    text-decoration: none;
}

.footer__partenaires {
    max-width: var(--article-wide-width);
}

.partenaires__wrapper-l {
    max-width: var(--article-wide-width);
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: var(--page-margin);
    /* margin: 0 auto; */
    margin-bottom: var(--page-margin);
    /* place-content: center; */
}


.partenaires__wrapper-m {
    max-width: var(--article-wide-width);
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    /* grid-template-columns: repeat(auto-fit, minmax(142px, 1fr)); */
    grid-gap: var(--page-margin);
    margin: 0 auto;
    /* place-content: center; */
    margin-bottom: var(--page-margin);
}

.partenaires__logo:hover {
    opacity: 100;
}